.login-content {
    width: 100%;
    padding: 15%;
    margin: auto;
    background-color: black;
    height: 100vh;
}

.btn-login {
    background-color: #fff;
    color:black;
}

.btn-login:hover {
    background-color: #daa520;
}

.opcoes-login a {
    text-decoration: none;
    color: #fff;
    transition: .3s ease-in;

}

.opcoes-login a:hover {
    color: #daa520;

}

.logo {
    width: 300px; /* Defina o tamanho desejado */
    height: auto; /* Para manter a proporção da imagem */
  }

.contact-info {
    position: absolute; /* Para posicionar no topo da pagina */
    top: 10px; /* Distancia do topo */
    right: 20px; /* Distancia da borda direitac*/
    z-index: 1000; /* Para garantir que fique acima de outros elementos */
    font-size: 14px; /* tamanho da fonte para as informações de contato */
    color: #daa520;
}


.phone, .email {
    margin-left: 10px; /* Espaço entre telefone  email */
}