/* Estilo geral da pagina */

body {
    font-family: 'Arial', sans-serif;
    background-color: black; /* cor de fundo da pagina */
    color: white; /* cor do texto */
    margin: 0;
    padding: 20px;
}

/* container principal */

.quem-somos-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.logo {
    display: block;
    margin: 0 auto;
    max-width: 150px;
    height: auto;
}

.content {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.side-image{
    max-width: 40%;
    height: auto;
    max-height: 300px;
    margin-right: 20px;
}

.text-content {
    flex: 1;
}


.description,
.services,
.invitation,
.social-media {
    line-height: 1.6;
    margin-bottom: 20px;
}

.social-media {
    font-weight: bold;
    color: #daa520;
}
